# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.5.1
numpy>=1.22.3
opencv-python>=4.5.5.64
Pillow>=9.0.1
PyYAML>=5.4.1
requests>=2.27.1
jupyterlab>=3.3.2
h5py>=3.6.0
